.posts {
    background-color:orange;
    width: 70%;
    height: 300px;

}

p {
    position: relative;
    top: 78%;
    left: 2%;
}
.user_details{
    list-style-type: none;
}

#navbar {
    background-color:orange;
}