<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>CodeFellowship</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <nav th:replace="fragments/nav :: nav"></nav>
    <h1>Your Feed</h1>

    <div th:each="author : ${principal.usersWhoIFollow}">
    <h3 th:text="${'Posted By: ' + author.username}"></h3>
        <div class="posts" th:each="post : ${author.posts}">
            <h3 th:text="${post.body}"></h3>

            <a th:href="'/users/' + ${author.id}"><p th:text="'Published at: ' + ${post.timeStamp} + ' by ' + ${author.username}"></p></a>
        </div>
    </div>



</body>
</html>