<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>CodeFellowship</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <nav th:replace="fragments/nav :: nav"></nav>
    <h1>Welcome to codeFellowship</h1>
    <div th:if="${user}">
        <form action="/posts" method="post">
            <label for="body" >Write your post:</label>
            <br>
            <input id="body" name="body" style="width: 385px; height: 200px;">
            <br>
            <input type="submit" value="Post!">
        </form>
    </div>

    <div class="posts" th:each="post : ${user.posts}">
        <ul>
            <li th:text="'Published at: ' + ${post.timeStamp}"></li>
            <li th:text="${post.body}"></li>
        </ul>
    </div>

    <script src="js/scripts.js"></script>
</body>
</html>