<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CodeFellowship</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<h1>Log In</h1>
<h3>welcome back friend, please enter your credentials to log in.</h3>
<form action="/login" method="post">
    <label for="username" >username:</label>
    <input id="username" name="username">
    <br>
    <label for="Password" >Password:</label>

    <input id="Password" type="password" name="password">
<br>
    <input type="submit" value="Log In">
</form>


</body>
</html>